/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 8:20:04 PM
    Author     : anasanzari
*/


@font-face{
    src: url(../fonts/Gravity-Book.ttf);
    font-family: mainfont;
}

*{
    font-family: mainfont;
}

body{
    background: #2F3545;
    color:#fff;
}

.himg{
    width:100px;
    height:100px;
    position: absolute;
    top:-25px;
    left:0;
}

h1{
    font-size: 3rem;
    margin-left: 125px;
}
