/* 
    Created on : Oct 17, 2015, 11:45:20 PM
    Author     : anasanzari
*/

/* overrides */

md-datepicker{
    background: none;
}

.md-datepicker-calendar-pane{
    background: #fff;
}

md-icon.md-default-theme, md-icon, .md-datepicker-input,
.md-datepicker-expand-triangle,md-input-container textarea.md-input,
.md-select-value .md-select-icon,.md-select-value :first-child{
  color:#fff;  
}
md-input-container label,
md-input-container.md-input-has-value:not(.md-input-invalid) label{
    color:#e6e6e6;
}
.md-datepicker-input-container,md-select.md-default-theme, md-input-container .md-input,
md-select .md-select-value{
    border-bottom-color: #eee;
}

.md-button.md-raised[disabled]{
    background: #999999;
}



/*extras*/

@font-face{
    src: url(../fonts/Gravity-Book.ttf);
    font-family: mainfont;
}

*{
    font-family: mainfont;
}

body{
      background: #39424E;
}

.title{
    background: #A48AD4;
    text-align: center;
    min-height: 100px;
}
.title .text{
    font-size:2rem;
    color:#fff;
    margin-top: 25px;
}

.sidenav{
    background-color: #365b67;
    /*background-image: linear-gradient(to bottom, #313340 0px, #2F3545 100%);*/
    background-repeat: repeat-x;
    position: fixed;
    z-index: 1001;
    top:0;
    left:0;
    width:16.6667%;
    height:100vh;
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 
        0px 9px 12px 1px rgba(0, 0, 0, 0.14), 
        0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidenav ul{
    
}

.sidenav ul li{
    width:100%;
    padding:10px 10px;
    cursor: pointer;
    color:#fff;
}
.sidenav ul li:hover{
    background: #1E202C;
}

.sidenav ul li.active{
    background: #1E202C;
}

.sidenavheader{
    background: #D24937;
    padding: 15px 10px;
    min-height: 100px; 
}
.sidenavheader h3{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

.header{
    background: #D24937;/*#5d5a4e;*/
    padding: 15px 10px;
    min-height: 100px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
    position: fixed;
    width:100%;
    z-index: 1000;
}
.header h2{
    margin:0px;
    margin-left: -100px;
    color:#fff;
    padding-top: 25px;
    text-align: center;
    
}

.maincontainer h1,.maincontainer h2, .maincontainer h3, .maincontainer h4{
  color:#fff;  
}

.maincontainer md-content h1,.maincontainer md-content h2,.maincontainer md-content h3, .maincontainer md-content h4{
  color:#000;  
}
/*messcard entry */
ul.entrylist{
    max-height: 400px;
    overflow: auto;
}
ul.entrylist li{
    padding:8px 10px;
    border-bottom: 1px rgba(0,0,0,.1) solid;
}

span.mid,span.end{
    padding:0 10px;
}
span.onethree{
    width:30%;
    display: inline-block;
}

span.cost{
    color:#fd4848;
    font-size: 1.5rem;
}
span.name{
    color:#48b0fd;
    width:33%;
    display: inline-block;
}

span.mid{
    color:#ea387e;
}
span.end{
    color:#28ad65;
}
span.time{
    color: #ad9528;
}

span.brick{
    height:20px;
    width:20px;
    margin-right: 5px;
    background: #ffeeee;
    display: inline-block;
}

.listhead{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background: #fff;
    border-bottom: 1px rgba(0,0,0,.1) solid;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.listhead .lh{
    padding:8px 10px;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
ul.entrylist .listhead:hover{
    background: none;
    cursor: auto;
}
ul.billlist{
    margin-top: 40px;
}
.billlist li:hover{
    background: #dee6ec;
    cursor: pointer;
}


ul.postlist{
    max-height: 400px;
    overflow: auto;
}
ul.postlist li{
    padding:8px 10px;
    border-bottom: 1px rgba(0,0,0,.1) solid;
}

span.pname,span.proll,span.ptime{
    padding-right: 10px;
}
span.pname{
    color: #257aa1;
}
span.proll{
    color: #25a14a;
}
span.ptime{
    color:#dc6a7f;
}

span.notrated{
    height:30px;
    width:30px;
    display: inline-block;
    background-image: url(../images/star.png);
    background-size: cover;
    vertical-align: middle;
}
span.rated{
    height:30px;
    width:30px;
    display: inline-block;
    background-image: url(../images/starrated.png);
    background-size: cover;
    vertical-align: middle;
}

