<div class="container-fluid" style="padding-left: 30px">
    <div class="row" style="margin-top: 25px">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Billings</h3>
                    <md-content class="md-whiteframe-3dp" style="width:75%">
                         <div class="listhead">
                                <span class="lh onethree">Roll No</span>
                                <span class="lh onethree">Name</span>
                                <span class="lh onethree">Total</span>
                         </div>
                        <ul class="entrylist billlist">
                            <li ng-repeat="item in billings">
                                <span class="roll onethree">{{item.rollno}}</span>
                                <span class="name onethree">{{item.name}}</span>
                                <span class="cost onethree">{{item.total|currency:"&#8377"}}</span>
                            </li>
                        </ul>
                    </md-content>

                </div>

            </div>

        </div>
    </div>

</div>


