<div class="container-fluid" style="padding-left: 30px">
    <div class="row" style="margin-top: 25px">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Mess Information</h3>
                    <md-content class="md-whiteframe-3dp" style="padding:10px">
                        <h3>Mess Name: {{messname}}</h3>
                        <h3>Mess Coordinator: {{coordinator}}</h3>
                        <h3>Phone Number : {{phone}}</h3>
                    </md-content>

                </div>

            </div>

        </div>
    </div>

</div>


