<div class="container-fluid" style="padding-left: 30px">
    <div class="row" style="margin-top: 25px">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Analysis</h3>
                    <p ng-show="list.length==0" style="padding-left: 20px;color: #ff6666">No details were found.</p>                
                    
                    <md-content ng-show="list.length!=0" class="md-whiteframe-3dp" style="padding-bottom: 30px;">
                        <h4 style="text-align: center">Extras Taken</h4>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-colours='colors' chart-data="data" chart-labels="labels"></canvas>
                                    <p>Chart based on {{current}}</p>
                                    <md-button class="md-raised" ng-click="change()"> Switch to {{changeto}}.</md-button>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <md-content class="md-whiteframe-3dp">
                                        <div class="listhead">
                                            <span class="lh onethree">Extra</span>
                                            <span class="lh onethree">Total Amount</span>
                                            <span class="lh onethree">Count</span>
                                        </div>
                                        <ul class="entrylist billlist" style="max-height: 250px">
                                            <li ng-repeat="item in list | orderBy:current:true" ng-click="navigate(item.rollno)">
                                                <span class="roll onethree">{{item.name}}</span>
                                                <span class="name onethree">{{item.amount|currency:"&#8377"}}</span>
                                                <span class="cost onethree">{{item.count}}</span>
                                            </li>
                                        </ul>
                                    </md-content>
                                </div>
                            </div>
                        </div>
                    </md-content>

                </div>


            </div>

        </div>

    </div>
</div>

</div>


