<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
            <div style="color: #d83b3b"></div>
            <div>
                <div class="row" ng-repeat="subject in subjects">
                    <div class="col-xs-4 .circle">
                        <div class="center-block" style="padding-top: 20px;">
                        <percent-display percent="subject.percent" side="{{side}}" colors="{{subject.bold}} {{subject.light}}"></percent-display>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div  style="padding-left: 20px">
                             <h1>{{subject.name}}</h1>
                            <h2>Bunks:{{subject.total}} Limit:{{subject.limit}}</h2>
                            <a class="btn btn-default" ng-click="bunk(subject)">Bunk</a>
                        </div>
                    </div>
                </div>
                
                <div class="row" ng-show="noSubs" style="padding-top: 35px;text-align: center">
                    <p>You dont have any subjects to show.</p>
                    <a href="#!/subjects" class="btn btn-default" >Add Subject</a>
                </div>
                
                <div style="height:30px"></div>
                

                
            </div>

        </div>
    </div>
</div>