<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
            
            <div ng-repeat="subject in subjects">
                <h1>{{subject.name}}</h1>
                <hr>
                <div ng-show="subject.history.length==0">
                    <p>You haven't recorded any bunks for {{subject.name}}.</p>
                </div>
                <div ng-repeat="d in subject.history">
                    <p>{{d|date:"h:mm a, MMM d"}}</p>
                </div>
            </div>
            
            <div style="height:30px"></div>
                

        </div>
    </div>
</div>