<div class="container-fluid" style="padding-left: 30px">
    <div class="row" style="margin-top: 25px">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Mess Forum</h3>

                    <p ng-show="!joined" style="padding-left: 20px;color: #ff6666">You've not joined a mess this month.</p>
                    <div ng-show="joined">
                        <div style="width:50%">
                            <md-input-container>
                                <label>Write your comments here.</label>
                                <textarea ng-model="comment" ng-change="change()" columns="1" md-maxlength="150"></textarea>
                            </md-input-container>
                        </div>
                        <md-button class="md-raised" style="margin:0" ng-click="post()" ng-disabled="!canPost || isProcessing">Post</md-button>


                        <md-content class="md-whiteframe-3dp" style="margin-top: 15px;">
                            <p ng-show="posts.length == 0" style="padding: 10px;color: #ff6666">Nobody has posted yet.</p>

                            <ul class="postlist" style="max-height: 300px">
                                <li ng-repeat="post in posts" >
                                    <div>
                                        <span class="pname">{{post.MemberName}}</span>
                                        <span class="proll">{{post.RollNo}}</span>
                                        <span class="ptime">{{post.DateTime|date:"h:mm a, MMM d"}}</span>
                                    </div>
                                    {{post.Comment}}
                                </li>
                            </ul>
                        </md-content>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


